* {
    font-family: "Lato", sans-serif;
}

body p {
    color: #27272799;
}

.header {

    background-color: #E554731A;
}

header h1 {
    font-size: 80px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 30px;
}

header p {
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #E55473;
    padding: 15px 30px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(229, 50, 115);
    color: white;
    cursor: pointer;
}

.btn-primary a {
    color: white;
    text-decoration: none;
}

.header-main {
    margin: 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;

}

.header-img {
    width: 500px;
}

.text-primary {
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 5px;
}

.our-featured {
    margin: 150px 150px;
}

.our-title {
    text-align: center;
}

.our-title p {
    margin-bottom: 48px;
}

.flower-all-section {
    display: flex;
    justify-content: space-between;
}

.flower-all-section img {
    background-color: #A7216226;
}

.flower-all-section p {
    text-align: center;
}


.img-flower img {
    height: 400px;
    padding: 110px 50px 0px 50px;
    border-radius: 300px 300px 0px 0px;
    /* gap: 24px; */
}

#img-2 {
    background-color: #0597A026;
}

#img-3 {
    background-color: #477D1126;
}

.flower-name a {
    color: #272727;
    font-size: 20px;
    font-weight: 700;
}

.delivery-time {
    margin: 150px 150px;
    display: flex;
    justify-content: space-between;
    padding: 80px 170px;
    background-color: #2727270D;
}

.delivery-contant {
    align-items: center;
    text-align: center;
}

.hot-deal-section {
    padding: 50px 200px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E554730D;
}

.hot-deal p {
    margin-bottom: 30px;
    margin-top: 20px;
}

.hot-deal {
    text-align: center;
    width: 590px;
}

.text-primary-design {
    color: #E55473;
}

.instagram-section {
    margin: 150px 150px;
    text-align: center;
}

.instagram-section p {
    margin-bottom: 48px;
}

.instagram-img-flower {
    display: flex;
    justify-content: space-between;
}

.instagram-img-flower img {
    width: 290px;
}